# 公開したくない情報はincludeで読み込めばよさそう
# https://coderwall.com/p/z8m3mq/gitconfig-include
# 今はまだない

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = ike
	email = 40803799+ikmnjrd@users.noreply.github.com
[init]
	defaultBranch = main
[alias]
	s    = status
	b    = branch
  sw   = switch
  swc  = switch -c
	swp   = switch -
	cm   = commit -m
	ca   = commit --amend
	can  = commit --amend --no-edit
	cf   = commit --fixup
	r    = rebase
	ra   = rebase --autosqush
	pl   = pull
	plr  = pull --rebase
  plo = "!f() { git pull origin $(git symbolic-ref --short HEAD); }; f"
	ps   = push
  pso = "!f() { git push origin $(git symbolic-ref --short HEAD); }; f"
	lo   = log --oneline
	logg = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[rebase]
	autoStash = true
